<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>农商学习微平台</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" sizes="48x48" href="/public/logo-48.png">
    <meta name="theme-color" content="#f60">
    <link rel="manifest" href="/manifest.json">

    <link rel="preload" href="public/rlstudy.5492e23ef5da13b99fec.js" as="script">

    <link rel="preload" href="public/style.css" as="style">

    <link rel="preload" href="public/vendor.d0ef61a8041fafc169a5.js" as="script">

    <link rel="preload" href="public/style.css" as="style">

    <link href="public/style.css" rel="stylesheet">
  </head>
  <body>
  <div id="app">
    <app></app>
  </div>
  <!--vue-ssr-outlet-->
  <script type="text/javascript" src="public/vendor.d0ef61a8041fafc169a5.js"></script>
  <script type="text/javascript" src="public/rlstudy.5492e23ef5da13b99fec.js"></script>
  </body>
</html>
